<div class="banner">
      <div class="banner-content">
     <div class="banner-home">
           <h1 class="nom">Croisières le Napolitain</h1>
          <h4 class="fonction" style="margin-top: -15px;">Osez l’évasion !</h4>
          <p class="nom2" style="font-weight: bold;"></p>
        <p class="presentation">Aux Antilles comme aux Baléares, à bord, chaque jour est différent, chaque croisière est unique.</p>

    </div>
      </div>
      <i class="fa fa-angle-down"></i>
</div>

<div class="container padded intro" style="margin-top: 50px;">
 <h2 class="titre">Nous nous adaptons à vos envies</h2>
 <hr>
<p style="margin-top: 100px;">A bord du Napolitain, découvrez les Baléares et les antilles autrement, au programme de vos vacances et selon vos envies, nous partirons ensemble à la découverte des criques sauvages pour des baignades paradisiaques, nous partagerons des apéros de tapas et des barbecues de poissons frais, péchés ensemble pendant la journée.</p>
</div>




<div class="destination padded" style="margin-bottom: 50px;">
  <h2 class="" style="text-align: center; color: gray;">Découvrez nos destinations à bord du Napilotain</h2>
  <p style="margin-bottom: 20px; text-align: center; color: gray; padding: 50px;">De la croisière privée, à la croisière Kite sur les plus beaux spots des Antilles ou en Transatlantique, votre Aventure est à portée d'étrave du "Napolitain".</p>
  <div class="row row-destination">
  <div class="col-xs-12 col-md-6 test">
    <div class="card">
      <%= image_tag 'martinique.jpg' %>
      <p>MARTINIQUE</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 test">
    <div class="card">
       <%= image_tag 'guadeloupe.jpg' %>
       <p>GUADELOUPE</p>
    </div>
  </div>
</div>
<div class="row row-destination">
  <div class="col-xs-12 col-md-6 test">
    <div class="card">
       <%= image_tag 'saint-martin.jpg' %>
       <p>SAINT MARTIN</p>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 test">
    <div class="card">
       <%= image_tag 'baleares.jpg' %>
       <p>LES BALÉARES</p>
    </div>
  </div>
</div>
</div>


<div class="text-center">
  <%= link_to "Réserver", nil ,{:style => 'color: #30BCED; font-size: 16px; border: 1px solid #30BCED;     text-decoration: none; padding: 18px; font-size: 29px;'}%>
</div>







<div class="wrapper">
    <h2 class="padded" style="text-align: center; color: gray;">Partez à l'aventure et découvez nos croisières à bord du Napilotain</h2>
  <div class="container">
    <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'ile-au-fleur.jpg'%>
      <div class="caption">
        <h3>Croisière île aux fleurs - Martinique</h3>
        <p class="duree"><i> - 7jours/6 nuits</i></p>
        <p class="text">En famille, naviguez de crique en crique, nagez de cocotier en cocotier, le long de la côte sous le vent de la Martinique.
Au programme : Le farniente, la découverte des fonds marins, des tortues et de la culture locale, une navigation accessible à tous.</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance </a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag '3pitons.jpg'%>
      <div class="caption">
        <h3>Croisière des Trois Pitons - Martinique</h3>
        <p class="duree"><i> - 3 à 6 jours</i></p>
        <p class="text">Martinique et Ste Lucie, évadez-vous, changez d'ambiance et embarquez à la découverte de la sulfureuse Ste Lucie.
Au programme: Une navigation un peu plus sportive qui reste accessible à tous. Vous traversez le canal vers Ste Lucie [...]</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'grenadine.jpg'%>
      <div class="caption">
        <h3>Croisière Pirates des Grenadines - Martinique</h3>
        <p class="duree"><i> - 10 jours/9 nuits</i></p>
        <p class="text">En route pour les emblématiques Grenadines ! Nous naviguerons, en dehors des sentiers battus, à la découverte des îles de Saint-Vincent et des Grenadines.
De Bequia à Mayreau, des Tobago Cays à Union, en passant au retour par Ste Lucie [...]</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'gwada.jpg' %>
      <div class="caption">
        <h3>Croisière Gwada - Guadeloupe</h3>
        <p class="duree"><i> - 7 jours/6 nuits</i></p>
        <p class="text">En famille ou entre amis laissez-vous porter au gré du vent depuis Guadeloupe jusqu'à Marie Galante, en passant par les Saintes et la côte sous le vent. Nous vous avons concocté un itinéraire  «à la sauce Gwada » dont vous nous direz des nouvelles</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'iguane-guadeloupe.jpg' %>
      <div class="caption">
        <h3>Croisière Iles Sauvages, « Into the wild » - Guadeloupe</h3>
        <p class="duree"><i> - 7 jours/6 nuits</i></p>
        <p class="text">Au départ de Malendure, à l'ouest de la Guadeloupe, nous commencerons la navigation par l'exploration des fonds marins de la réserve Cousteau, véritable îlot de vie, les iles de la réserve abritent toute la [...] </p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'gwada2.jpg' %>
      <div class="caption">
        <h3>Mini croisières Gwada - Guadeloupe</h3>
        <p class="duree"><i> - 2 jours/1 nuit ou 3 jours/ 2 nuits</i></p>
        <p class="text">Vous avez peu de temps et grande envie d'évasion ? Embarquez avec nous pour cette mini croisière de 2 à 3 jours au départ de la marina Bas du Fort. Larguez les amarres vers l'une des plus belles baies du monde</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'ile-du-nord.jpg' %>
      <div class="caption">
        <h3>Croisière St Barth et Iles du Nord - Saint Martin</h3>
        <p class="duree"><i> - 7 jours/6 nuits</i></p>
        <p class="text">Découvrir la beauté de St Barth puis naviguer vers Anguilla et ses îles : Dog Island, Prikly Pear, Scrub Island, Sandy Island c'est l'évasion, loin du monde, au fil des vagues, des alizés et sous le soleil.</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'ile-vierge.jpg' %>
      <div class="caption">
        <h3>Croisière Iles du Nord et Iles Vierges - Saint Martin</h3>
        <p class="duree"><i> - 9 jours/10 nuits</i></p>
        <p class="text">Sur cette croisière, vous découvrirez les îles du nord de St Martin : Dog Island, Prikly Pear, Scrub Island, Sandy Island c'est l'évasion !. Puis nous nous dirigerons vers les British Virgin Islands, véritable joyau des Caraïbes.</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'baleares1.jpg' %>
      <div class="caption">
        <h3>Croisière Ibiza-Formentera - Baléares</h3>
        <p class="duree"><i> - 7 jours/6 nuits</i></p>
        <p class="text">Embarquement et retour à Ibiza pour cette navigation tout autour des îles d'Ibiza et de Formentera. Au fil du vent et de vos envies vous explorerez la multitude de criques aux eaux turquoises qui entoure les deux îles.</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail thumbnail-xl">
      <%= image_tag 'Baleares2.jpg'%>
      <div class="caption">
        <h3>Croisière Ibiza-Formentera-Majorque</h3>
        <p class="duree"><i> - 9 jours/10 nuits</i></p>
        <p class="text">10 jours de croisière en mode COOL ! Au départ d'Ibiza nous naviguerons vers Formentera puis, en une nuit, nous hisserons les voiles vers Majorque et ses criques légendaires. Le séjour finira à Ibiza, pour le bonheur des amateurs de fiesta !</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail thumbnail-xl">
      <%= image_tag 'baleares3.jpg' %>
      <div class="caption">
        <h3>Mini croisière Baléares</h3>
        <p class="duree"><i> - 3 jours/2 nuits</i></p>
        <p class="text">Vous avez peu de temps et grande envie d'évasion ? Embarquez avec nous pour cette mini croisière de 2 à 3 jours au départ d'Ibiza. Chaque soir, en fonction des conditions météo et de vos envies, votre skipper vous suggérera un plan de navigation pour le jour suivant.</p>
        <p><a href="#" class="btn btn-primary" role="button">Je me lance</a></p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<div class="text-center padded">
  <%= link_to "Réserver", nil ,{:style => 'color: #30BCED; font-size: 16px; border: 1px solid #30BCED;     text-decoration: none; padding: 18px; font-size: 29px;'}%>
</div>



<div class="wrapper padded" style="background-color: gray; margin-top: 100px;">
  <div class="container">
    <h3 style="color: white;">Je prépare mon voyage</h3>
    <hr>
    <div class="trip-advice">
      <div class="text-advice">
      <h3>Comment préparer votre voyage</h3>
      <p>Bien préparer son voyage.Organiser ses vacances à l'étranger peut être parfois stressant. Nous vous accompagnons et vous aidons lors de chaque étape des préparatifs du voyage du début jusqu'à la fin de votre séjour.</p>
      <%= link_to "En savoir plus", "#", class: "btn btn-primary"%>
      </div>
      <%= image_tag 'preparation.jpg'%>
    </div>
  </div>
</div>




<div class="banner-transatlantique" style="margin-top: 0px;">
  <div class="center">
    <h3>Laissez vous tenter par une transatlantique</h3>
  <p>Vivez une expérience unique, dépassez vos limites! Envie de sentir le vent du large balayer votre visage, entendre le souffle de l'océan vrombir à vos oreilles, gouter le sel de la vie et revenir rincé de sel et de soleil après des milliers de milles à votre compteur ? Embarquez sur le « Napolitain » pour une transatlantique.</p>
  </div>
 <div class="text-center center" style="padding-top: 50px;">
  <%= link_to "Réserver", nil ,{:style => 'color: #30BCED; font-size: 16px; border: 1px solid #30BCED;     text-decoration: none; padding: 18px; font-size: 29px;'}%>
</div>
</div>


