<div class="banner-kite center hidden-xs" style="margin-bottom: 200px;">
      <div class="">
     <div class="kite-header">
           <h1 class="nom">Croisières Kite surf</h1>
          <h4 class="fonction">Embarquez pour 7 ou 10 jours de pur ride</h4>
          <h4>A partir de 990 euros/personne en pension complète pour toute réservation avant le 30 Novembre 2018!</h4>
          <hr>
          <div class="">
  <%= link_to "J'en profite", "/croisiere_kite" ,{:style => 'color: white; background-color: #00A5CF; text-decoration: none; padding: 18px; font-size: 20px;'}%>
</div>
    </div>
      </div>
</div>





<div class="wrapper padded hidden-xs" style="margin-bottom: 100px;">
  <div class="container">
    <div class="row center">
      <div class="col-xs-12 col-md-6 text-right">
      <%= image_tag 'kite4.jpg', width: "70%"%>
      </div>
      <div class="col-xs-12 col-md-6">
      <p class="text-design">Laissez-vous guider par Priscillia, votre moniteur IKO, sur les plus beaux spots de la Caraïbe et par Brice dans les plus belles criques désertes. Au programme spots de vagues, secrets spots et plus encore !</p>
      </div>
    </div>
  </div>
</div>




<div class="wrapper padded"  style="background-color: #00A5CF;">
  <div class="container">
    <div>
    <h3 class="" style="color: white;">- Croisière kite surf -</h3>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="">
        <div class="thumbnail kite1" style="background-color: gray; height: 1080px;">
          <%= image_tag 'kite3.jpg', width: "100%"%>
          <div class="caption" style="color: white;">
            <h3>Croisière Pures Grenadines - Saint Vincent</h3>
            <p class="duree">10 jours/9 nuits</p>
            <div class="text" style="font-size: 14px;">
              <p>Partez à la découverte des Grenadines. Ridez le long des plages de sable blanc bordées de cocotiers! Downwind entre les ilets! Glissez dans des lagons transparents</p>
              <p>Départ depuis la Martinique, puis navigation jusqu'à Bequia
              Ça ne kite pas sur Bequia, mais la visite vaut le détour .
              Cap sur Canouan et son somptueux lagon pour du flat freestyle et surf sur la barrière de coraux multicolore.</p>
              <p>Mayreau: Salt Whistle bay session Kite puis Rasta bar </p>
              <p>Union: ride au cœur des grenadines, ses soirées arrosées de ti-punchs et cocktails diaboliques.</p>
              <p>Tobago Cays: Navs entre les ilets, au milieu des tortues et des poissons multicolores. Soirée Langouste et Steel-band.</p>
              <p>Fregate: Top pour les débutants et pour ceux qui aiment le calme.</p>
            </div>
            <div class="text-center padded">
               <p>A partir de 1390€/par personne</p>
               <p style="font-size: 8px;">En pension complète pour toute réservations avant le 30 Novembre 2018*</p>
            <p class="padded"><%= link_to "Réserver", new_contact_form_path ,{:style => 'color: white; background-color: #00A5CF; text-decoration: none; padding: 18px; font-size: 29px;'}%></p>
            </div>

          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
<div class="">
        <div class="thumbnail kite2">
          <%= image_tag 'kite-surf2.jpg', width: "100%"%>
          <div class="caption" style="color: white;">
            <h3>Croisière Gwada, Antigua et Barbuda</h3>
            <p class="duree">10 jours/9 nuits</p>
            <div class="text" style="font-size: 14px;">
              <p>Antigua et Barbuda sont des paradis pour kitesurfeurs passionnés !</p>
              <p>Embarquement immédiat pour des destinations de rêves, des secrets spots de malade et des espaces de jeux fabuleux! Mais Chut.... On ne vous en dit pas plus et on vous laisse le découvrir avec nous !</p>
              <p>Départ de Guadeloupe à Deshaie, pour une navigation de nuit vers Antigua.
              Arrivée à Antigua, visite de cette ile so-british de la caraïbe et navigation
              puis  en route pour Barbuda</p>
              <p>Ride à Barbuda la sauvage, ile paradisiaque et désertique, avec ses eaux turquoises et ses plages de sable blanc.</p>
              <p>Mouillage à l' ouest de l' ile, spot offshore assuré par notre bateau de sécu, nav dans le lagon immense et flat.</p>
              <p>Certains s'amuseront avec les énormes vagues du shore-break.</p>
              <p>4 heures de voiles nous séparent de Green Island où un immense lagon couleur vert émeraude vous attend à l' abris de la houle.</p>
              <p>Les soirées seront surement agrémentées de belles langoustes fraiches des pécheurs locaux.
              Antigua Green island retour à Jolly harbour soirée à Antigua. Puis navigation de nuit jusqu'aux Saintes où une journée kite vous attend puis retour à Pointe à Pitre.</p>
            </div>
            <div class="text-center padded">
               <p>A partir de 1390€/par personne</p>
               <p style="font-size: 8px;">En pension complète pour toute réservations avant le 30 Novembre 2018*</p>
            <p class="padded"> <%= link_to "Réserver", new_contact_form_path ,{:style => 'color: white; background-color: #00A5CF; text-decoration: none; padding: 18px; font-size: 29px;'}%></p>
            </div>

          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
<div class="">
        <div class="thumbnail kite3" style="background-color: gray; height: 1080px;">
          <%= image_tag 'kite5', width: "100%"%>
          <div class="caption" style="color: white;">
            <h3>Croisière îles vierges britanniques</h3>
            <p class="duree">10 jours/9 nuits</p>
            <div class="text" style="font-size: 14px;">
             <p>La réputation des Iles Vierges n'est plus à faire chez les Kitesurfeurs.</p>
             <p>On hisse les voiles vers les plus beaux spots des Antilles. Au programme, spots sauvages , surf, îles désertes, sable blanc et cocotiers, eaux turquoise spot de malade et bien plus encore ! Vous rêvez de Rider les BVI on vous y emmène !</p>
             <p>L' arrivée en avion se fait à St Martin.</p>
             <p>Au programme Kite sur les spots de Tortola et surf au Nord de l'ile.</p>
             <p>Jost van Dyke est une ile très dynamique à l'ouest de Tortola ou un super spot de flat enchantera les freestyler, et les amateurs de snorkelling.</p>
             <p>Virgin Gorda composée de plusieurs lagons au nord de l'ile est entourée également de nombreux spots de surf.</p>
             <p>Anegada est une grande ile à quelques tire d' aile de Virgin Gorda, la cote nord est réputé pour ses gros rouleaux et ses spots offshore.</p>
             <p>Une fois rassasié de cessions sauvages, retour à St Martin.</p>
            </div>
            <div class="text-center padded">
               <p>A partir de 1390€/par personne</p>
               <p style="font-size: 8px;">En pension complète pour toute réservations avant le 30 Novembre 2018*</p>
            <p class="padded"> <%= link_to "Réserver", new_contact_form_path ,{:style => 'color: white; background-color: #00A5CF; text-decoration: none; padding: 18px; font-size: 29px;'}%></p>
            </div>

          </div>
        </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="">
   <div class="thumbnail kite4" style="background-color: gray; height: 1080px;">
          <%= image_tag 'kite-surf3.jpg', width: "100%"%>
          <div class="caption" style="color: white;">
            <h3>Croisière session sauvage</h3>
            <p class="duree">7jours/6nuits</p>
            <div class="text" style="font-size: 14px;">
             <p>Ridez en toute liberté, sur des spots et des plages désertes, tirez des bords au milieu des eaux turquoises et des plages de sable blanc.</p>
             <p>Ride dans la baie d' orient et du Gallion ou vous rencontrerez les raies léopard</p>
             <p>Si vous préférez les tortues, vous pourrez tirez des bords sur les eaux peu fréquentées de Tintamarre.</p>
             <p>Puis nous irons découvrir les iles autour d' Anguilla, à 3 heures de voile de St Martin.</p>
             <p>Le charme des lagons de Prickly pear , les fous de bassans de Dog island et la surprenante Sandy island raviront les kiteurs amoureux de nature.</p>
            </div>
            <div class="text-center padded">
               <p>A partir de 990€/par personne</p>
                <p style="font-size: 8px;">En pension complète pour toute réservations avant le 30 Novembre 2018*</p>
            <p class="padded"><%= link_to "Réserver", new_contact_form_path ,{:style => 'color: white; background-color: #00A5CF; text-decoration: none; padding: 18px; font-size: 29px;'}%></p>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="">
   <div class="thumbnail kite5" style="background-color: gray; height: 1080px;">
          <%= image_tag 'kite-surf.jpg', width: "100%"%>
          <div class="caption" style="color: white;">
            <h3>Mini croisières Kite </h3>
            <p class="duree">4jours/3nuits</p>
            <div class="text" style="font-size: 14px;">
             <p>Depuis le Marin en Martinique nous naviguerons le long de la côte au vent de Cap Chevalier en passant par St François et le Robert.</p>
             <p>Nous caboterons le long des plus belles côtes de la Martinique.</p>
             <p>Au programme, Down-wind entre les îlets, spots de vague et de flat, Etes-vous prêt ?</p>
            </div>
            <div class="text-center padded">
               <p>A partir de 590€/par personne</p>
                <p style="font-size: 8px;">En pension complète pour toute réservations avant le 30 Novembre 2018*</p>
            <p class="padded"><%= link_to "Réserver", new_contact_form_path ,{:style => 'color: white; background-color: #00A5CF; text-decoration: none; padding: 18px; font-size: 29px;'}%></p>
            </div>

          </div>
        </div>

      </div>
    </div>
</div>
</div>


<div class="matos-kite padded" style="background-color: white; color: gray;">
  <div class="container padded">
     <h3>- Le matériel -</h3>
     <p>Du matos récent et en excellent état est disponible à la location, à bord, n'hésitez pas à nous contacter pour en savoir plus.</p>
     <p style="color: gray;">Les Tarifs de Location : planche+voile+ harnais (à partir de 70€ par jours).</p>
    <div class="row padded">
      <div class="col-xs-12 col-md-4">
        <%= image_tag 'matos1.jpg', width: "100%"%>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag 'matos2.jpg', width: "100%"%>
      </div>
      <div class="col-xs-12 col-md-4">
        <%= image_tag 'matos3.jpg', width: "70%"%>
      </div>
    </div>
    <h4>Un prof de Kite pour des leçons d'initiation ou de perfectionnement au cours de votre voyage</h4>
    <p>Priscillia est aussi moniteur certifié IKO. Elle enseigne aux petits comme aux grands. Son plaisir est de vous transmettre tout son savoir pour vous initier ou vous faire progresser. N'hésitez pas à lui demander ses tarifs avant ou pendant votre voyage.(Leçon à partir de 90€)
</p>
  </div>
</div>








 <%= render "shared/cgv-kite"%>

